* {
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
    vertical-align: top;
    font-size:xx-large;
    outline:1px red dashed;
}
input {
    border:black 3px solid;
}
input[type="submit"] {
    box-shadow: 5px 5px 5px black;
}
